﻿@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/AdminMain.cshtml";

}


<head>

	<script src="~/Scripts/bootstrap.min.js"></script>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>

<div class="container-xl">
	<div class="table-wrapper">
		<div class="table-title">
			<div class="row">
				<div class="col-sm-12"><h2>Department</h2></div>
				<div class="col-sm-3">
					<a href="@Url.Action("Create","Department")" class="btn btn-success btn-info"> <i class="material-icons"></i> <span>Departman Ekle</span></a>
				</div>
				<div class="col-sm-5"></div>
				<div class="col-sm-4">
					<div class="search-box">
						<input id="myInput" onkeyup="myFunction()" type="text" style="border-radius: 50px" class="form-control" placeholder="Search…">
					</div>
				</div>
				<div class="col-sm-12">
					<hr />
				</div>
			</div>
		</div>
		<table id="myTable" class=" table table-bordered table-striped table-hover">
			<tr>
				<th>#</th>
				<th>Departman Ismi</th>
				<th>Departman Adresi</th>
				<th></th>
			</tr>
			@for (int i = 0; i < Model.Rows.Count; i++)
			{
				<tr>
					<td> @(i+1)</td>
					<td> @Model.Rows[i][1]</td>
					<td> @Model.Rows[i][2]</td>
					<td>
						<a href="@Url.Action("Edit","Department", new { @DepartmentID = @Model.Rows[i][0]})" class="btn btn-success btn-primary">
							<i class="fa fa-edit"></i>

						</a>
						<a href="@Url.Action("Delete","Department", new { @DepartmentID = @Model.Rows[i][0]})" class="btn btn-success btn-danger">
							<i class="fa fa-trash"></i>
						</a>
					</td>
				</tr>
			}
		</table>
	</div>
</div>

<script>
	function myFunction() {
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("myInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable");
		tr = table.getElementsByTagName("tr");
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[1];
			if (td) {
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
</script>