
@using Bil372_Project.Models


@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/AdminMain.cshtml";
}
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Style the body */
        body {
            font-family: Arial;
            margin: 0;
        }

        /* Header/Logo Title */
        .header {
            padding: 60px;
            text-align: center;
            background: #1abc9c;
            color: white;
            font-size: 30px;
        }

        /* Page Content */
        .content {
            padding: 20px;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>List All Salary</h1>
        <li>
            <a href="@Url.Action("AdminMaasPage", "AdminMaas")" class="elements">
                <span>Add Salary</span>
            </a>
        </li>
    </div>


    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th> Person Name</th>
            <th> Person Surname</th>
            <th>Salary Amount</th>
            <th>Date</th>
            <th>Delete</th>

        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.sid</td>
                    <td>@item.PersonModel.PersonName</td>
                    <td>@item.PersonModel.PersonSurname</td>
                    <td>@item.miktar</td>
                    <td>@item.tarih</td>
                    <td>
                        <a href="@Url.Action("DeleteSalary", "AdminMaas", new { sid = @item.sid })" class="elements">
                            <span>Delete Salary</span>
                        </a>
                    </td>


                </tr>
            }

        </tbody>
    </table>
</body>