
@using System.Linq;
@using System;
@using System.Collections.Generic;




@using Bil372_Project.Models

@{
    ViewBag.Title = "Açık Pozisyonlar";
    Layout = "~/Views/Shared/AdminMain.cshtml";
}

<style>

    .label {
        color: #B4886B;
        font-weight: bold;
        display: block;
        width: 150px;
        float: left;
    }

        .label:after {
            content: ": "
        }

    .success {
        background-color: #4CAF50;
    }
    /* Green */
    .info {
        background-color: #2196F3;
    }
    /* Blue */
    .warning {
        background-color: #ff9800;
    }
    /* Orange */
    .danger {
        background-color: #f44336;
    }
    /* Red */
    .other {
        background-color: #e7e7e7;
        color: black;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    body {
        font-family: Arial;
        margin: 0;
    }

    /* Header/Logo Title */
    .header {
        padding: 60px;
        text-align: center;
        background: #1abc9c;
        color: white;
        font-size: 30px;
    }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #555;
        outline: none;
    }

    input[type=datetime-local] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #555;
        outline: none;
    }
    /* Page Content */
    .content {
        padding: 20px;
    }

    button[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        button[type=submit]:hover {
            background-color: #45a049;
        }

    input[type=text]:focus {
        background-color: lightblue;
    }

    .submit {
        background-color: #4CAF50;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }


    /* Gray */
</style>
<body>

    <div class="header">
        <h1>Açık Pozisyonlar</h1>

        <li>
            <a href="@Url.Action("AddSertificate", "Acik_Pozisyon")" class="elements">
                <span>Add Position</span>
            </a>
        </li>

    </div>


    <table class="table table-bordered">
        <tr>
            <th> Meslek </th>
            <th> Açıklama </th>
            <th> İş Tanımı </th>
            <th> Delete </th>

        </tr>


        <tbody>
            @foreach (var item in Model.Acik_PozisyonModels)
            {
            <tr>

                <td>@item.meslek</td>
                <td>@item.açıklama</td>
                <td>@item.iş_tanımı</td>
                <td>
                    <a href="@Url.Action("DeletePosition", "Acik_Pozisyon", new { id = @item.ID })" class="elements">
                        <span>Delete Position</span>
                    </a>
                </td>


            </tr>
            }

        </tbody>


    </table>


    <

</body>