
@{
    Layout = null;
}



<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/sidebar-01/css/style.css">
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/businessman-pointing-graphs-symbols.jpg);"></a>
                <ul class="list-unstyled components mb-5">
                    <li class="active">

                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Personels Professional Skills</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="@Url.Action("AdminLearningProfDevelopment", "Admin")" class="elements">
                                    <span>Personel Professional Development</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Sertificate", "LearnDevelopment")" class="elements">
                                    <span>Sertificates</span>
                                </a>
                            </li>


                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "AdminIzin")" class="elements">
                            <span>Permit</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListAllTimeAttandance", "TimeAttandance")" class="elements">
                            <span>List Attandance</span>
                        </a>
                    </li>


                    <li>
                        <a href="@Url.Action("Index", "BenefitManagement")" class="elements">
                            <span>Benefit Management</span>
                        </a>
                    </li>



                    <li>
                        <a href="@Url.Action("Acik_Pozisyon", "Acik_Pozisyon")" class="elements">
                            <span>Available Positions</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("AdminMaasPage", "AdminMaas")" class="elements">
                            <span>Salary Entry Screen</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Login", "Login")" class="elements">
                            <span>Sign Out</span>
                        </a>
                    </li>
                </ul>
					
				
                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </nav>
        <!-- Page Content  -->
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
    <script src="~/sidebar-01/js/jquery.min.js"></script>
    <script src="~/sidebar-01/js/popper.js"></script>
    <script src="~/sidebar-01/js/bootstrap.min.js"></script>
    <script src="~/sidebar-01/js/main.js"></script>
</body>
</html>