
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/sidebar-01/css/style.css">
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/businessman-pointing-graphs-symbols.jpg);"></a>             
				<ul class="list-unstyled components mb-5">
					<li>
						<a href="@Url.Action("PersonelInformation", "Personel")" class="elements">
							<span>Personel Information</span>
						</a>
					</li>

					<li>
						<a href="@Url.Action("IzinGiris", "Personel")" class="elements">
							<span>Izinler</span>
						</a>
					</li>
					<li>
						<a href="@Url.Action("BenefitManagement", "Personel")" class="elements">
							<span>Benefit Management</span>
						</a>
					</li>

					<li>
						<a href="@Url.Action("Personel_proje", "Personel")" class="elements">
							<span>Personel Projects</span>
						</a>
					</li>
					<li>
						<a href="@Url.Action("Sertifikalarim", "Personel")" class="elements">
							<span>List My Certificates</span>
						</a>
					</li>
					<li>
						<a href="@Url.Action("Index", "MaasHistory")" class="elements">
							<span>Salary History</span>
						</a>
					</li>

					<li>
						<a href="@Url.Action("Login", "Login")" class="elements">
							<span>Sign Out</span>
						</a>
					</li>
				</ul>
                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by love</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </nav>
        <!-- Page Content  -->
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
    <script src="~/sidebar-01/js/jquery.min.js"></script>
    <script src="~/sidebar-01/js/popper.js"></script>
    <script src="~/sidebar-01/js/bootstrap.min.js"></script>
    <script src="~/sidebar-01/js/main.js"></script>
</body>
</html>